* {
  border: 1px solid red;
}

.row {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color:rgb(100, 85, 75);
}

.button {
  padding: 20px;
  background-color: rgb(132, 68, 23);
}

.button:hover {
  background-color: chocolate;
}

#clear {
 padding-left: 50px;
 padding-right: 50px;
}

#zero {
  padding-left: 50px;
  padding-right: 50px;
}