* {
  border: 1px solid red;
}

body {
  display: flex;
  justify-content: center;
  width: 225px;
}

#display {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color:rgb(100, 85, 75);
}

.button {
  padding: 20px;
  background-color: rgb(132, 68, 23);
}

.button:hover {
  background-color: chocolate;
}

#clear {
 padding-left: 55px;
 padding-right: 55px;
}

.zero {
  padding-left: 45px;
  padding-right: 45px;
}